<h1 class="tit">ようこそBookersへ！</h1>
<div class="home-text">
  <ul class="home-content">Bookersでは、さまざまな書籍に関するあなたの意見や</ul>
  <ul class="home-content">印象を共有し、交換することができます</ul>
  <ul class="home-content">
    <%= link_to "start", todolists_path %>
  </ul>
</div>

